{% extends 'index.html' %}
{% block content %}
<head>
    <style>
        footer{
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            background:rgb(129, 231, 103);
            padding-top:10px;
            padding-bottom:5px;
        }
    </style>
</head>
<footer>
    <div class="container">
        <p><span>Developed by O'nifise</span>
        <span>&copy; copyright 2020</span></p>
        </div>
</footer>
{% endblock %}