body{
    padding:1rem;
}
i{
    color:#ddd;
    display:block;
}
li{
    margin:0.5rem;
    list-style-type: none;
  
}
.container{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
}
